In [3]:
import pandas as pd
#1차원과 2차원 데이터를 다루기 쉽게 만든 라이브러리

In [8]:
# 1차원 데이터: Series
# index | values
production = pd.Series([450, 480, 465, 490, 470])

In [9]:
production.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
production.values

array([450, 480, 465, 490, 470])

In [11]:
production

0    450
1    480
2    465
3    490
4    470
dtype: int64

In [14]:
production = pd.Series(data=[450, 480, 465, 490, 470], index=['월요일', '화요일', '수요일', '목요일', '금요일'])

In [15]:
production.values

array([450, 480, 465, 490, 470])

In [16]:
production.index

Index(['월요일', '화요일', '수요일', '목요일', '금요일'], dtype='object')

In [17]:
production.index.tolist()

['월요일', '화요일', '수요일', '목요일', '금요일']

In [18]:
production.size

5

In [19]:
production.ndim

1

In [20]:
production.shape

(5,)

In [21]:
production

월요일    450
화요일    480
수요일    465
목요일    490
금요일    470
dtype: int64

In [24]:
production[['화요일', '수요일']]

화요일    480
수요일    465
dtype: int64

In [25]:
production[production >= 480]

화요일    480
목요일    490
dtype: int64

In [26]:
production

월요일    450
화요일    480
수요일    465
목요일    490
금요일    470
dtype: int64

In [27]:
production = production + 10

In [28]:
production

월요일    460
화요일    490
수요일    475
목요일    500
금요일    480
dtype: int64

In [29]:
production['화요일'] -= 30

In [31]:
production[['월요일', '목요일', '금요일']] += 20

In [32]:
production

월요일    480
화요일    460
수요일    475
목요일    520
금요일    500
dtype: int64

In [33]:
equipment_data = {
    'equipment_id': ['INJ-001', 'INJ-002', 'PRESS-001', 'PRESS-002', 'ASM-001'],
    'equipment_name': ['사출기 1호기', '사출기 2호기', '프레스 1호기', '프레스 2호기', '조립라인 1호기'],
    'equipment_type': ['사출기', '사출기', '프레스', '프레스', '조립라인'],
    'location': ['A동 1라인', 'A동 1라인', 'A동 2라인', 'A동 2라인', 'B동 1라인'],
    'rated_capacity': [150, 150, 200, 200, 100],
    'status': ['ACTIVE', 'ACTIVE', 'ACTIVE', 'ACTIVE', 'ACTIVE']
}

In [45]:
# 2차원 데이터: DataFrame
# index | columns
#       | values
df = pd.DataFrame(data=equipment_data)

In [46]:
df

  equipment_id equipment_name equipment_type location  rated_capacity  status
0      INJ-001        사출기 1호기            사출기   A동 1라인             150  ACTIVE
1      INJ-002        사출기 2호기            사출기   A동 1라인             150  ACTIVE
2    PRESS-001        프레스 1호기            프레스   A동 2라인             200  ACTIVE
3    PRESS-002        프레스 2호기            프레스   A동 2라인             200  ACTIVE
4      ASM-001       조립라인 1호기           조립라인   B동 1라인             100  ACTIVE

In [53]:
df.set_index('equipment_id', inplace=True)

In [54]:
df

             equipment_name equipment_type location  rated_capacity  status
equipment_id
INJ-001             사출기 1호기            사출기   A동 1라인             150  ACTIVE
INJ-002             사출기 2호기            사출기   A동 1라인             150  ACTIVE
PRESS-001           프레스 1호기            프레스   A동 2라인             200  ACTIVE
PRESS-002           프레스 2호기            프레스   A동 2라인             200  ACTIVE
ASM-001            조립라인 1호기           조립라인   B동 1라인             100  ACTIVE

In [55]:
df.index

Index(['INJ-001', 'INJ-002', 'PRESS-001', 'PRESS-002', 'ASM-001'], dtype='object', name='equipment_id')

In [56]:
df.columns

Index(['equipment_name', 'equipment_type', 'location', 'rated_capacity',
       'status'],
      dtype='object')

In [63]:
df.describe(include='all')

       equipment_name equipment_type location  rated_capacity  status
count               5              5        5        5.000000       5
unique              5              3        3             NaN       1
top           사출기 1호기            사출기   A동 1라인             NaN  ACTIVE
freq                1              2        2             NaN       5
mean              NaN            NaN      NaN      160.000000     NaN
std               NaN            NaN      NaN       41.833001     NaN
min               NaN            NaN      NaN      100.000000     NaN
25%               NaN            NaN      NaN      150.000000     NaN
50%               NaN            NaN      NaN      150.000000     NaN
75%               NaN            NaN      NaN      200.000000     NaN
max               NaN            NaN      NaN      200.000000     NaN

In [64]:
# 데이터프레임에서 데이터 가져오는 방법
# 1. 컬럼 데이터
# 2. .loc[ , ]로 가져오기
# 3. .iloc[ , ]로 가져오기

In [68]:
df

             equipment_name equipment_type location  rated_capacity  status
equipment_id
INJ-001             사출기 1호기            사출기   A동 1라인             150  ACTIVE
INJ-002             사출기 2호기            사출기   A동 1라인             150  ACTIVE
PRESS-001           프레스 1호기            프레스   A동 2라인             200  ACTIVE
PRESS-002           프레스 2호기            프레스   A동 2라인             200  ACTIVE
ASM-001            조립라인 1호기           조립라인   B동 1라인             100  ACTIVE

In [65]:
df['equipment_name']

equipment_id
INJ-001       사출기 1호기
INJ-002       사출기 2호기
PRESS-001     프레스 1호기
PRESS-002     프레스 2호기
ASM-001      조립라인 1호기
Name: equipment_name, dtype: object

In [69]:
df[['equipment_type', 'location', 'rated_capacity']]

             equipment_type location  rated_capacity
equipment_id
INJ-001                 사출기   A동 1라인             150
INJ-002                 사출기   A동 1라인             150
PRESS-001               프레스   A동 2라인             200
PRESS-002               프레스   A동 2라인             200
ASM-001                조립라인   B동 1라인             100

In [80]:
df['equipment_type':'rated_capacity']

KeyError: 'equipment_type'

In [81]:
df.loc['INJ-002', :]

equipment_name    사출기 2호기
equipment_type        사출기
location           A동 1라인
rated_capacity        150
status             ACTIVE
Name: INJ-002, dtype: object

In [82]:
df.loc[['INJ-002', 'PRESS-001'], :]

             equipment_name equipment_type location  rated_capacity  status
equipment_id
INJ-002             사출기 2호기            사출기   A동 1라인             150  ACTIVE
PRESS-001           프레스 1호기            프레스   A동 2라인             200  ACTIVE

In [83]:
df.loc['INJ-002':'PRESS-001', :]

             equipment_name equipment_type location  rated_capacity  status
equipment_id
INJ-002             사출기 2호기            사출기   A동 1라인             150  ACTIVE
PRESS-001           프레스 1호기            프레스   A동 2라인             200  ACTIVE

In [85]:
df.loc[:, 'equipment_type':'rated_capacity']

             equipment_type location  rated_capacity
equipment_id
INJ-001                 사출기   A동 1라인             150
INJ-002                 사출기   A동 1라인             150
PRESS-001               프레스   A동 2라인             200
PRESS-002               프레스   A동 2라인             200
ASM-001                조립라인   B동 1라인             100

In [88]:
df.loc['INJ-002':'PRESS-002', 'equipment_type':'rated_capacity']

             equipment_type location  rated_capacity
equipment_id
INJ-002                 사출기   A동 1라인             150
PRESS-001               프레스   A동 2라인             200
PRESS-002               프레스   A동 2라인             200

In [87]:
df

             equipment_name equipment_type location  rated_capacity  status
equipment_id
INJ-001             사출기 1호기            사출기   A동 1라인             150  ACTIVE
INJ-002             사출기 2호기            사출기   A동 1라인             150  ACTIVE
PRESS-001           프레스 1호기            프레스   A동 2라인             200  ACTIVE
PRESS-002           프레스 2호기            프레스   A동 2라인             200  ACTIVE
ASM-001            조립라인 1호기           조립라인   B동 1라인             100  ACTIVE

In [89]:
df.iloc[1:4, 1:4]

             equipment_type location  rated_capacity
equipment_id
INJ-002                 사출기   A동 1라인             150
PRESS-001               프레스   A동 2라인             200
PRESS-002               프레스   A동 2라인             200